body {
	background: #60a8a9;
}

#mainCanvas {
	width: 100%;
	height: 100%;
}



.flex-filler {
	flex-grow: 1;
}

/* Adds a "pop out" border */
.window-border {
	border-style: solid;

	border-top-color: #f9f9f9;
	border-left-color: #ededed;
	border-right-color: #474747;
	border-bottom-color: #555555;

	border-width: 2px;
}

/* Adds a "cave in" border */
.frame-border {
	border-style: solid;

	border-top-color: #353535;
	border-left-color: #505050;
	border-right-color: #e8e8e8;
	border-bottom-color: #dfdfdf;

	border-width: 2px;
}

/* Adds a top border only */
.taskbar-border {
	border-top-style: solid;

	border-top-color: #f9f9f9;

	border-width: 2px;
}