w95-window {
	position: absolute;
	left: 0;
	top: 0;

	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	width: 800px;
	height: 600px;

	padding: 3px;

	background: silver;
}

w95-window:state(dragged) {

}

w95-window:state(maximised) {
	top: 0!important;
	left: 0!important;

	width: 100%;
	height: calc(100% - 44px);
}

.window-title-bar {
	display: flex;
	align-items: center;

	padding: 4px;

	background: #0f06ab;
}

.window-title-bar > *:first-child {
	margin-right: 2px;
}

.window-title-bar > *:not(:first-child):not(:last-child) {
	margin: 0 2px;
}

.window-title-bar > *:last-child {
	margin-left: 2px;
}

.window-title-icon {
	width: 24px;
	height: 24px;

	background: red;
}

.window-title {
	color: white;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.window-title-buttons {
	display: flex;
	align-items: center;
}

.window-title-buttons-minimise {
	width: 22px;
	height: 22px;

	background: silver;
}

.window-title-buttons-maximise {
	width: 22px;
	height: 22px;

	background: silver;
}

.window-title-buttons-close {
	width: 22px;
	height: 22px;

	margin-left: 4px;

	background: silver;
}

.window-settings-bar {
	display: flex;
	align-items: center;

	margin: 2px 0;
}

.window-settings-button {
	position: relative;

	padding: 4px 8px;

	cursor: pointer;
}

.window-settings-button:active, .window-settings-button-active {
	background: #0f06ab;
	color: white;
}

.window-settings-name {
	
}

.window-settings-dropdown {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(30px);

	min-width: 150px;
	min-height: 200px;

	background: silver;

	cursor: initial;
}

.window-body {
	flex-grow: 1;

	background: white;
}

.window-footer {
	display: flex;
	align-items: center;

	margin-top: 4px;
	padding: 2px 4px;
}