w95-window {
	position: absolute;
	left: 0;
	top: 0;

	display: flex;
	flex-direction: column;

	width: 800px;
	height: 600px;

	padding: 3px;

	background: silver;
}

w95-window:state(dragged) {

}

.window-title-bar {
	display: flex;
	align-items: center;

	padding: 4px;

	background: #0f06ab;
}

.window-title-bar > *:first-child {
	margin-right: 2px;
}

.window-title-bar > *:not(:first-child):not(:last-child) {
	margin: 0 2px;
}

.window-title-bar > *:last-child {
	margin-left: 2px;
}

.window-title-icon {
	width: 24px;
	height: 24px;

	background: red;
}

.window-title {
	color: white;
}

.window-title-buttons {
	display: flex;
	align-items: center;
}

.window-title-buttons-minimise {
	width: 22px;
	height: 22px;

	background: silver;
}

.window-title-buttons-maximise {
	width: 22px;
	height: 22px;

	background: silver;
}

.window-title-buttons-close {
	width: 22px;
	height: 22px;

	margin-left: 4px;

	background: silver;
}

.window-settings-bar {
	display: flex;
	align-items: center;

	margin: 2px 0;
}

.window-settings-button {
	position: relative;

	padding: 4px 8px;

	cursor: pointer;
}

.window-settings-button:active {
	background: #0f06ab;
	color: white;
}

.window-settings-name {
	
}

.window-settings-dropdown {
	display: none;

	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(30px);

	min-width: 150px;
	min-height: 200px;

	background: silver;

	cursor: initial;
}

.window-body {
	flex-grow: 1;

	background: white;
}



/* Adds a "pop out" border */
.window-border {
	border-style: solid;

	border-top-color: #f9f9f9;
	border-left-color: #ededed;
	border-right-color: #474747;
	border-bottom-color: #555555;

	border-width: 2px;
}

/* Adds a "cave in" border */
.frame-border {
	border-style: solid;

	border-top-color: #353535;
	border-left-color: #505050;
	border-right-color: #e8e8e8;
	border-bottom-color: #dfdfdf;

	border-width: 2px;
}